$vDD-Blue: hsl(238, 29%, 16%); //Very dark desaturated blue: 
$soft-Red: hsl(14, 88%, 65%); //Soft red

$soft-Violet: hsl(273, 75%, 66%);
$soft-Blue: hsl(240, 73%, 65%);

$vDG-blue: hsl(237, 12%, 33%); //Very dark grayish blue
$dG-blue: hsl(240, 6%, 50%); //Dark grayish blue

$lG-blue: hsl(240, 5%, 91%) //Light grayish blue: 